<div class="row">

<center>

<form action="/auth/password" method="post">
{{#if error}}
{{error}}
{{/if}}
 <h2>Задать новый пароль</h2>
  <div class="input-field col s12">
     
          <input id="password" type="password" class="validate" name="password" required>
          <label for="password">Password</label>
          <span class="helper-text" data-error="обязательное поле" data-success="готово">Введите новый пароль</span>
        </div>
    <input type="hidden" name="userId" value="{{userId}}">
      <input type="hidden" name="token" value="{{token}}">

        <button class="btn" type="submit">обновить пароль</button>
</form>

</center>

</div>