<div class="error-page">
<h1 class="error-num">404</h1>
<b class="error-text">Страница не доступна</b>
<p class="error-message">
    Это ошибка  означает, что вы перешли 
    по несуществующей ссылке. В полне возможно что данная страница была удалена
</p>
    <a href="/">Вернутся</a>
</div>