<div class="row">

<div class="col s6">
<img class="home-photo" src="/img/home-page-seccond-photo.png" alt="photo" >
</div>

<div class="col s6">
    <p class="home-text">

Привет, добро пожаловать к нам. То, что вы попали сюда это говорит о том, что вы изучаешь программирование, либо есть какой то интерес. С чего начнем? Начнем мы с самого важного, языка разметки HTML. Без него изучать программирование не имеет не какого смысла. На сайте уже имеются курсы, вы можете изучать их и не забывайте практиковаться, так как практика - это залог успеха к изучению программирования. Курсы еще будут дополнятся, а что самое важное тут мы сможем помогать друг другу, задавать вопросы и отвечать на них. Так же добавлять в ленту что-то интересное что вполне возможно поможет каму то, либо просто будет интересно прочитать. Но для доступа ко всему этому вам необходимо зарегистрироваться, процесс не долгий и никакой личной информации кроме электронной почты (Вы так же можете пользоваться сайтом без регистрации но уже с некоторыми ограничениями). После регистрации у вас появится своя страничка на сайте, где вы сможете сохранять в вашу ленту и папки ту информацию которая вам интересна либо которую вы изучаете. 

</p>
</div>


</div>


<div class="row">

    <div class="col s6">
       <p class="home-text">
           Для того, чтобы стать программистом не обязательно владеть английским языком, но желательно, так как весь синтаксис состоит из английских слов. Первое что нужно запомнить при изучении программирования то что запомнить все и на всегда не возможно. Любой программист пользуется поисковыми системами либо кодом который уже у него есть, важно понимать что мы делаем. Но есть и то, что нужно запомнить, к примеру самые часто используемые теги из HTML, либо методы из JavaScript и так далее, но поверьте нечего в этом сложного нет. Как уже было подмечено в первой статье, самое важное это практика и желание изучать что то новое. Не бойтесь экспериментировать, ломать и строить заново.
            Так же не нужно боятся ошибок во время программирования, даже самый опытный программист очень часто допускает ошибки, по сути программирование это есть 10 процентов времени написание кода а остальные 90 процентов, поиск ошибок.
       </p>
    </div>
    <div class="col s6">
        <img class="home-photo" src="/img/tvelv.png" alt="photo">
    </div>
</div>


<div class="row">

    <div class="col s6">
       <img class="home-photo" src="/img/fromtend.jpeg" alt="photo">
    </div>
    <div class="col s6">
       
         <p class="home-text">
          Существуют несколько видов программирования, но по сути можно их отнести к двум. Это Frontend и Backend.
Frontend (англ. front-end) называют клиентскую сторону пользовательского интерфейса по отношению к программно-аппаратной части сервиса.
Но давайте лучше простым языком.  Frontend это клиентская часть, то есть та часть которую видит пользователь. Это строение сайта и ее функционал. Что бы стать frontend разработчиком достаточно знать HTML, CSS, JavaScript а так же желательно знать какой-либо из framework -ов. По сути их множество, но самые популярные, это Reac, Angular и Vue.js. Не в коем случае не начинаете изучение framework-а без знания основного языка - это слишком затратно, а очень часто бесполезно.

       </p>
    </div>
</div>




<div class="row">

    <div class="col s6">
         <p class="home-text">
       Backend (англ. back-end) — это программно-аппаратная часть сервиса. Это набор средств, с помощью которых происходит реализация логики веб-сайта. Это то, что скрыто от наших глаз, т. е. происходит вне компьютера и браузера. А теперь простым языком. Backend - то, что мы не видем, но мы им постоянно пользуемся. Такие процессы как хранение, поиск и т.д. происходят на серверной част. На практике программисты применяют любой из универсальных языков: PHP, Ruby, Python, Java. Кроме того, при backend-разработке задействуют СУБД (MySQL, PostgreSQL, SQLite, MongoDB и пр.). Знание Frontrnd и Backend одно временно это большое преимущество, такие специалисты называются Full Stack. Если проостым языком, Full Stack это тот разроботчик, которому по силе собрать сайт с клиентсой и серверной частью, а так же выложить его в сеть. Но, что бы быть программистом давольно быть разроботчиком в одной из этих двух сфер.
       </p>
    </div>
    <div class="col s6">
       
        

             <img class="home-photo" src="/img/backand.jpg" alt="photo">
     
    </div>
</div>










