<h3 class="contant-name">Редакторы кода</h3>

<p class="info-block">Здесь мы поговорим о редакторах кода, узнаем откуда скачать (безопасно) и как установить так же научимся подключать разные полезные плагины. Существует множество редакторов кода, но мы поговорим только о трех самых часто используемых. Подобрать удобный редактор так же важно, как и выбрать для себя удобную позицию для работы. Важными критериями являются, легкость работы редактора, подсказки, встроенный терминал, подсветка и много встроенных плагинов.Но мы будем рассматривать лишь самые важные инструменты для работы.</p>

<div>
<h5>WebStorm</h5>
<hr>
<div class="row">
    <div class="col s6">
    <img class="code-edir-photos" src="/img/WebStorm.png" alt="WebStorm">
</div>
 <div class="col s6">
   content
</div>
</div>
</div>